.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.days-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.button-remove {
  margin-top: 30px;
}
